/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal */
.contentBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px ;
    margin-bottom: 50px;
}

/* Cada fila de 5 celdas */
.wrapperBox {
    display: flex;
    gap: 5px; /* espacio horizontal entre celdas */
}

/* Cada celda */
.contentBox {
    width: 60px;
    height: 60px;
    border: 2px solid #444;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

/* Celda con letra correcta en la posición correcta */
.contentBox.green {
    background-color: #6aaa64; /* verde Wordle */
    border-color: #6aaa64;
    color: white;
}

/* Celda con letra correcta en posición incorrecta */
.contentBox.yellow {
    background-color: #c9b458; /* amarillo Wordle */
    border-color: #c9b458;
    color: white;
}

/* Celda con letra incorrecta */
.contentBox.white {
    background-color: grey; /* amarillo Wordle */
    border-color: grey;
    color: white;
}


/* Texto dentro de cada celda */
.contentBox p {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    user-select: none;
    margin: 0;
}

#slideModal {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 300px;
    max-width: 90%;
    padding: 16px 24px;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
    font-size: 16px;
    opacity: 0;
    transition: top 1s ease-out, opacity 0.5s;
    z-index: 9999;
    text-align: center;
}

#slideModal.show {
    top: calc(400px - 300px);
    opacity: 1;
}

#slideModal.fadeOut {
    opacity: 0;
}

.shake {
animation: shake 0.5s;
}

@keyframes shake {
0% { transform: translateX(0); }
20% { transform: translateX(-5px); }
40% { transform: translateX(5px); }
60% { transform: translateX(-5px); }
80% { transform: translateX(5px); }
100% { transform: translateX(0); }
}
