
.letterBox {
    width: 60px;
    height: 60px;
    border: 2px solid #3f4752;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f4752;
}

/* Celda con letra correcta en la posición correcta */
.letterBox.green {
    background-color: #6aaa64; /* verde Wordle */
    border-color: #6aaa64;
    color: white;
}

/* Celda con letra correcta en posición incorrecta */
.letterBox.yellow {
    background-color: #c9b458; /* amarillo Wordle */
    border-color: #c9b458;
    color: white;
}

/* Celda con letra incorrecta */
.letterBox.white {
    background-color: grey; /* amarillo Wordle */
    border-color: grey;
    color: white;
}


.letterBox p {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    user-select: none;
    margin: 0;
}
